<!-- used app-custom-server inside servers component -->

<app-custom-server></app-custom-server>
<!-- <app-custom-server></app-custom-server> -->


<!-- () means event binding -->
<button class="btn btn-primary"
		[disabled]="!allowNewServer"
		(click)="onCreateServer()">Add Server</button>

<br />
<!-- <p >Allow New Server= {{allowNewServer}}</p> -->
Allow New Server=<b [innerText]="allowNewServer"> </b>

<br />
<!-- Server Creation Status : {{serverCreationStatus}} -->
<p *ngIf="serverCreated; else noServer">Server was created, and name is:' {{serverName}}</p>
<ng-template #noServer>
	<p>No server was created</p>
</ng-template>
<!-- <br />
<label>Server Name(Using Data and Event Binding): </label>: {{serverName}} -->
<br />
<!-- default name will be visible in 2nd case(two way data binding) but not in 1st case(event binding) -->
using event: <input 
	type="text"
	class="form-control"
	(input)="onUpdateServer($event)">
using ngmodel: <input 
	type="text"
	class="form-control"
	[(ngModel)] = "serverName"	>